/*
 * JBoss, Home of Professional Open Source
 * Copyright 2016, Red Hat, Inc. and/or its affiliates, and individual
 * contributors by the @authors tag. See the copyright.txt in the
 * distribution for a full listing of individual contributors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
    background-color:teal;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}

button {
    font-family: sans-serif;
    font-size: 30px;
    width: 200px;

    background-color: #0085cf;
    background-image: linear-gradient(to bottom, #00a8e1 0%, #0085cf 100%);
    background-repeat: repeat-x;

    border: 2px solid #ccc;
    color: #fff;

    text-transform: uppercase;

    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

button:hover {
    background-color: #006ba6;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

hr {
    border: none;
    background-color: #eee;
    height: 10px;
}

.menu {
    padding: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;

    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.content .message {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 40px;
}

#token-content {
    font-size: 20px;
    padding: 5px;
    white-space: pre;
    text-transform: none;
}

.wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
}

.error {
    color: #a21e22;
}

/*table {
    width: 100%;
}*/

tr.even {
    background-color: #eee;
}

td {
    padding: 5px;
     font-size: 30px;
}

td.label {
    font-weight: bold;
    width: 250px;
}
